@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins-Light.ttf);
  font-weight: light;
}

:root {
  --main-red: #bc0735;
  --sub-red: #8b0c2c;
  --grey: #eeeeee;
  --green: #34c240;
  --red: #d64242;
}

body {
  margin: 0;
  width: 350px;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  text-align: center;
}

.headlineWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

#logo {
  margin-right: 5px;
}

#headline {
  font-weight: normal;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

hr {
  border: 1px solid var(--grey);
  background-color: var(--grey);
}

.button {
  background-color: var(--main-red);
  border: none;
  color: white;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.link {
  font-size: 16px;
}

.button:active {
  background-color: var(--sub-red);
}

.link {
  color: var(--main-red);
}

.input {
  padding: 5px 5px;
  border-radius: 5px;
  border: 1.5px solid rgb(133, 131, 131);
  height: 18px;
}

.input:focus {
  border-color: var(--main-red);
  outline: none;
  /* box-shadow: 0 0 10px #719ece; */
}

#main > label {
  text-align: left;
  font-weight: bold;
}

#main > input {
  margin-top: 5px;
}

#main > button,
#main > a {
  margin-top: 15px;
}

#notification {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notification img {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}

#notification .success {
  color: var(--green);
}

#notification .error {
  color: var(--red);
}
