.notification {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  margin-right: 5px;
  height: 25px;
  width: 25px;
}

.notification-success {
  color: var(--green);
}

.notification-error {
  color: var(--red);
}
